.hero{
background-image: url('/images/hero.png');
height: 500 px;
padding-top: 219px;
padding-left: 103px;
}


h1 {
  font-size: 36px;
  margin-bottom: 15px;
}
button {
  margin-top: 35px;
  padding: 12px 30px;
  background: #52647E;
   color: white;
  border-radius: 10px;
}
